<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Projects</title>
</head>

<body>
  <h1><%= project.name %></h1>
  <a href="/projects">Back to all Projects</a>

  <ul>
    <% tasks.forEach(task => { %>
    <li>
      <input type="checkbox" <%= task.completed ? "checked" : "" %> readonly />
      <%= task.title %>
    </li>

    <% }) %>
  </ul>
</body>

</html>
